#myform{
    width: 100%;
    text-align: center;
    font-size: 30px;
}
#searchform{
    width: 100%;
    text-align: center;
    font-size: 30px;
    position: relative;
}


#menu{
    border-top: solid  orange;
    border-bottom: solid orange;
    border-left: solid  orange;
    border-right: solid  orange;
    float:left;
    height:130px;
    margin-left:auto; 
    margin-right:auto; 
    outline:0;
    width:98%;
    font-size: 50px;
    font: sans-serif;

}
  
#button-holder{
    position: absolute;
    top: 10;
    right: 20px;
    margin-top: -10px;
    cursor:pointer;
    float:left;
    height:110px;    
    margin-left:auto; 
    margin-right:auto;
    text-align:center;
    width:10%;
}
  
#button-holder img{
    margin:50px;
    width:50px; 
}
#total{
    margin-top: 50px;
    border-bottom: 1px solid black;
    float:left;
    height:80px;
    outline:0;
    width:100%; 
    font-size: 50px;
    bottom: 0;
    text-align: center;
    line-height: 80px;
}


.wp-table tr:nth-child(odd) {
    background-color: #fff;
}

.wp-table tr:nth-child(even) {
    background-color: #f1f1f1;
}

.wp-table tr {
    border-bottom: 1px solid #ddd;
}

.wp-table th:first-child, 
.wp-table td:first-child {
    text-align: center;
    vertical-align: center;
}


.wp-table td, 
.wp-table th {
    padding: 8px 8px;
    display: table-cell;
    text-align: center;
    vertical-align: center;
}

.wp-table th {
    font-weight: bold;
}
 
.wp-table {
    margin-top: 50px;
    font-size: 50px!important;
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}